{% extends 'base.html' %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
<div class="container">
    <h1>Обновление задачи</h1>
    <form method="post">
        <label for="title">Заголовок задачи:</label><br>
        <input type="text" name="title" id="title" class="form-control" value="{{task.title}}" placeholder="Заголовок задачи" required><br>

        <label for="category_id">Категория:</label><br>
        <input type="number" name="category_id" id="category_id" class="form-control" value="{{task.category_id}}" placeholder="Категория" required><br>

        <label for="text">Описание:</label><br>
        <textarea name="text" id="text" class="form-control" placeholder="Описание">{{task.text}}</textarea><br>

        <label for="parent_task_id">Суперзадача:</label><br>
        <input type="number" name="parent_task_id" id="parent_task_id" class="form-control" value="{{task.parent_task_id}}" placeholder="Суперзадача"><br>

        <label for="target_user_id">Пользователи:</label><br>
        <input type="number" name="target_user_id" id="target_user_id" class="form-control" value="{{task.target_user_id}}" placeholder="Пользователи" required><br>

        <label for="start_date">Начало:</label><br>
        <input type="datetime-local" name="start_date" id="start_date" class="form-control" value="{{task.start_date}}" placeholder="Начало" required><br>

        <label for="end_date">Окончание:</label><br>
        <input type="datetime-local" name="end_date" id="end_date" class="form-control" value="{{task.end_date}}" placeholder="Окончание"><br>

        <label for="remind_date">Напомнить:</label><br>
        <input type="datetime-local" name="remind_date" id="remind_date" class="form-control" value="{{task.remind_date}}" placeholder="Напомнить"><br>

        <input type="submit" class="btn btn-success" value="Обновить"><br>
    </form>
</div>
{% endblock %}